button{
	border: none;
}

/*************personalinfo***************/
#personalinfo{
	margin-top: 30px;
}

#modify{
	float: right;
}

.info_title{
	font-size: 35px;
	color: 7c7c7c;

}
/**************acitivity***************/
.roundpic{
	margin-left: px;
}

.pic1{
	margin-bottom: 10%;
}

.act_title{
	font-size: 35px;
	color: d8cecc;
	text-align: right;
}

.sidenav{
	float: left;
	margin-right: 3%;
}
.sidenav button{
	
	height: 100px;
	text-align: right;
	border:0;

}
.sidenav a{
	color: #d7cdcc;
	font-size: 1.5em;
}

.btn-act{
	background-color: #eae6e5;
	width: 100%;
}
.btn-sup{
	background-color: #f4ecea;
	width: 100%;
}
.btn-pro{
	background-color: #f7f5f6;
	width: 100%;
	margin-bottom: 20px;
}

.sidebar{
	width: 100%;
	height: 500px;
}

#activity iframe{
	margin-bottom: 20px;
}

#activity button{
	border: none;
}
/************present******************/
#present{
	background-color: f9f9f9;
}


/***************recentinfo**************/
#recent{
	background-color: f9f9f9;
}

.right{
	float: right;
	padding-bottom: 15px;
}



