body{
	font-family:"Hiragino Sans GB W6","Hiragino Sans GB W3";
}

a:hover{
	text-decoration:none;
}
/*nav***************************/
#navbarone {
	background-color:#f1faf8;
	border:hidden;
}

#navright{
	margin-top:7px;
	}
	
#navbarsearch {
	margin-left:60px;
}

#navbarimg {
	height:50px;
	margin-left:-40px;
	position:absolute;
}


.btn-link{
	margin:0px;
	padding:5px;
	color:#666666;
}

#navright button{

	-webkit-transition-property:color;
	-webkit-transition-duration:.7s;
	-webkit-transition-timing-function:ease-out;
		text-decoration:none;
}


#navright button:hover{
	color:#DC4345;
	
	
}

.header{
	width: 100%;
	height: 500px;
}
.header h1{
	color: #7fdad3;
	margin-left: 300px;
	margin-top: 140px;
}


.row{
	margin-top: -80px;
	float: right;
}
.row button{
	width: 335px;
	height: 100px;
	float: right;
	margin-left: 500px;
	text-align: left;
	border:0;
}
.row a{
	color: #d7cdcc;
	font-size: 1.5em;
}



.btn-act{
	background-color: #eae6e5;
}
.btn-sup{
	background-color: #f4ecea;
}
.btn-pro{
	background-color: #f7f5f6;
}
.content{
	margin-left: 250px;
	margin-top: -100px;
	min-width: 530px;
}
.col-md-4 p{
	font-size: 1.5em;
}

.content button{
	margin-left: 250px;
	margin-right: 400px;
	margin-top: 260px;
	width: 270px;
	height: 75px;
	background-color: #7ddad2;
	border:0;
	border-radius: 15px;
	font-size: 2.5em;
	color: #fff;
}
#footer{
	margin-top: 200px;
	width: 100%;
	height: 80px;
	background-color: #f1faf9;
}

